.banner {
  width: 100%;
  max-width: 1400px; /* Aumentando a largura */
  margin: 20px auto;
  overflow: hidden;
  border-radius: 15px;
}

.banner-image {
  width: 100%;
  height: 300px; /* Ajuste conforme necessário */
  object-fit: cover; /* Mantém a imagem proporcional sem distorção */
  border-radius: 15px;
}

.swiper-pagination-bullet {
  background: white;
}
