/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #e60000;
  position: relative; /* Para garantir que os elementos internos não saiam do lugar */
  z-index: 1;
}

.logo {
  max-width: 55px;
  z-index: 2; /* Para garantir que o logo fique sobre a faixa */
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  z-index: 2; /* Para garantir que a barra de pesquisa fique sobre a faixa */
}

.search-bar {
  width: 80%;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.navbar-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2; /* Para garantir que os ícones fiquem sobre a faixa */
}

.navbar-icons span {
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
}

.navbar-icons span:hover {
  color: #ffffff;
}
